<section class="features">
  <h5>FEATURES</h5>
  <h2>Small details, Big impact.</h2>
  <ul>
    <li class="features__one">
      <h4>Personal Motivation &amp; Fun</h4>
      <p>Beyond quotes, it's great for personal reminders and goals.</p>
      <ul>
        <li><b>Daily Affirmations</b>: <span>You've got this.</span></li>
        <li><b>New Word to Learn</b>: <span>L'esprit de l'escalier</span></li>
        <li><b>Wi-Fi Password</b>: <span>coffeeshop_guest / buycoffee</span></li>
        <li><b>Simple Goal</b>: <span>Drink more water</span></li>
      </ul>
    </li>
    <li class="features__two">
      <h4>Travel</h4>
      <p>Eliminate the frantic search for information while on the move.</p>
      <ul>
        <li><b>Flight &amp; Gate Number</b>: <span>UA 1421 at Gate B42</span></li>
        <li><b>Hotel Room Number</b>: <span>Room 1208</span></li>
        <li><b>Rental Car Confirmation</b>: <span>Hertz #A4892B</span></li>
        <li><b>Train Platform or Seat</b>: <span>Platform 7, Car 3, Seat 12A</span></li>
      </ul>
    </li>
    <li class="features__three">
      <h4>Daily Errands</h4>
      <p>For the one thing you can't afford to forget.</p>
      <ul>
        <li><b>Crucial Grocery Item</b>: <span>Just get baking soda!</span></li>
        <li><b>License Plate Number</b>: <span>Finding my car: GZD 824</span></li>
        <li><b>Pickup Order Number</b>: <span>Coffee Order #72</span></li>
        <li><b>Quick Measurement</b>: <span>Need a shelf 34.5" wide</span></li>
      </ul>
    </li>
    <li class="features__four">
      <h4>Work &amp; Productivity</h4>
      <p>Keep your focus on the task at hand.</p>
      <ul>
        <li><b>Meeting ID or Room</b>: <span>Zoom: 892 4556 7889</span></li>
        <li><b>Temporary Access Code</b>: <span>Door Code: 1592#</span></li>
        <li><b>Today's #1 Priority</b>: <span>Finish the quarterly report</span></li>
        <li><b>A Name to Remember</b>: <span>spelled 'Kathryn'</span></li>
      </ul>
    </li>
  </ul>
</section>
