<!DOCTYPE html>
<html
  class="no-js"
  lang="">
  <head>
    {% include "metadata.html" %}
  </head>

  <body class="{{ webpage }}">
    <div class="site">
      <div class="page">
        {% include "header.html" %} {% include "introduction.html" %} {% include "hero.html" %} {% include "spotlight-one.html" %} {% include "spotlight-two.html" %} {% include "spotlight-three.html"
        %} {% include "spotlight-four.html" %} {% include "features.html" %} {% include "ios-qr.html" %} {% include "footer.html" %}
      </div>
    </div>
  </body>
</html>
