<div class="introduction callout">
  <img
    src="/assets/img/brand/snackbarre-icon.png"
    alt="Snackbarre iOS Icon"
    class="ios-icon" />
  <h1>
    A quiet <b>reminder</b>, <br />
    right where you need it.
  </h1>
  <p>Stop unlocking your phone for the little things. From flight numbers to daily affirmations, Snackbarre puts your most important text directly on your Lock Screen for instant access.</p>
  <a
    href="/"
    class="button"
    >Download for iOS</a
  >

  {% include "overlay.html" %}
</div>
