<section class="introduction">
  <div class="lock-screen">
    <img
      src="/assets/img/background/hero-lock-screen.png"
      alt="" />
    <div class="classified">{% svg "classified" %}</div>
    <div class="mac__privacy">
      <a href="/privacy">
        <img
          class="mac__privacy__img"
          src="assets/img/icons/apple-logo.svg" />
        <img
          class="mac__privacy__img-hover"
          src="assets/img/icons/apple-privacy-logo.svg" />
      </a>
    </div>
  </div>
</section>
