/*
--
-- @FONT-FACE
--
*/

@font-face {
  font-family: "GT Super Book";
  src: url("/assets/fonts/GTSuperBook.woff2") format("woff2"), url("/assets/fonts/GTSuperBook.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@mixin GT() {
  font-family: "GT Super Book";
  font-weight: 300;
  font-style: normal;
}
