/*
--
-- FOOTER
--
*/

/*
-- _includes
*/
@use "tokens";
@use "mixins";

/*------------------------------*/


  footer {
    padding: tokens.$xlarge;
      margin: auto;
      max-width: tokens.$desktop;
      width: 100%;
    position: relative;
    margin-top: calc(tokens.$xxlarge * 6);
  }

  .sub + footer {
      margin-top: 0;
      max-width: 768px;
  }


nav {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: tokens.$medium;

  ul {
    display: flex;
    gap: tokens.$medium;

    li {
      a {
        color: tokens.$black;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    svg {
      max-width: 25px;
      width: 100%;
      height: auto;
    }
  }

  p {
    display: inline-block;
    vertical-align: middle;

    a {
      display: inline-block;
      vertical-align: middle;
      margin-left: tokens.$small;
      border: none;
    }
  }
}

/*
-- _responsive
*/
@media (min-width: tokens.$desktop) {
  .sub + footer {
    padding: tokens.$large 0;
  }

  nav {
    justify-content: space-between;
    flex-direction: row;
  }
}
