/*
--
-- INTRODUCTION
--
*/

/*
-- _includes
*/
@use "tokens";
@use "mixins";

/*------------------------------*/

.introduction {
  text-align: center;
  max-width: 755px;
  margin: 0 auto calc(tokens.$xxlarge * 3);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: tokens.$xxlarge;

  > p {
    max-width: 638px;
    margin: auto;
    line-height: 1.25;
  }
}

.ios-icon {
  max-width: 100px;
  width: 100%;
  margin-bottom: tokens.$xlarge;
}
