/*
--
-- LAYOUT
--
*/

/*
-- _includes
*/
@use "tokens";

/*------------------------------*/

.page {
  padding: tokens.$xlarge;
  margin: auto;
  max-width: tokens.$desktop;
  width: 100%;

  &.sub {
    max-width: 768px;
  }

  > * + * {
    margin-top: tokens.$xxxlarge;
  }
}

/*
-- _responsive
*/
@media (min-width: tokens.$desktop) {
  .page {
    padding: 0;

    &.sub {
      min-height: calc(100vh - 158px);
    }
  }
}
