/*
--
-- OVERLAY
--
*/

/*
-- _includes
*/
@use "tokens";
@use "mixins";

/*------------------------------*/

.overlay {
  background: tokens.$white;
  border-radius: tokens.$xxxlarge;
  padding: tokens.$xxlarge;
  box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.3);
  position: absolute;
  bottom: 20%;
  transition: all 0.25s ease-in-out;
  opacity: 0;
  transform: translateY(5%);
  pointer-events: none;
}
