/*
--
-- TOKENS
--
*/

/*
-- Typography
*/
$h1: 6.4rem;
$h2: 5.2rem;
$h3: 4rem;
$h4: 3.2rem;
$h5: 2rem;
$copy: 2rem;

/*
-- Colors
*/
$twilight: rgba(#FDF8B4, 0.15);
$black: #222;
$white: #fff;
$highlighter: #fdf8b4;
$goldenrod: #feb000;
$merlot: #83180f;
$pumpkin: #ff8c04;
$cherry: #dc1c06;
